$light-gray: #F8F8F8;
$dark-gray: #DDDDDD;
$light-blue: #00A8E8;
$dark-blue: #007EA7;
$light-green: #00C6B7;
$dark-green: #00A99D;
$light-red: #FF6138;
$dark-red: #E04128;
$light-yellow: #FFFF9D;
$dark-yellow: #F2F26F;
$light-purple: #B15DFF;
$dark-purple: #9B51E0;
$light-orange: #FFD23F;
$dark-orange: #F9BF3B;
$light-pink: #FF9CFE;